# GCP Credentials
GOOGLE_APPLICATION_CREDENTIALS=configs/creds.json

# LLM API Keys
OPENAI_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=

# Azure OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYMENT_NAME=

# Langsmith settings
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT="default"
